ion-content.background{
  --background: url(../../../assets/back1.jpg) 0 0/100% 100% no-repeat;
}
.parag {
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 4px;
}
.h2style{
  font-weight: 400;
  opacity: .5;
}

.toolbar-color{
  --background: #B2B2F2;
}
