.user-photo  {
  margin: 0 auto;
  width: 120px;
  height: 120px;
}


.parag {
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 4px;
}
.h2style{
  font-weight: 400;
  opacity: .5;
}
ion-content.background{
  --background: url(../../assets/back-profile.png) 0 0/100% 100% no-repeat;
}
