
<ion-content adding class="background">
    <ion-img style="position: relative;top: 60px;" src="/assets/shapes.png"></ion-img>


    <ion-row style="position:relative; top: 200px">
      <ion-col>
        <ion-card>
        <ion-button color="primary" expand="full" color="primary" (click)="Login()">Login</ion-button>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
        <ion-button color="primary" expand="full" color="danger" (click)="Register()">Register</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
</ion-content>

<ion-footer>

</ion-footer>
