
<ion-content adding class="background">
    <div>
        <ion-buttons slot="start"  style="position: relative;top:18px;left:20px">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </div>
    <ion-card style="position:relative;top:25px">
        <ion-item (click)="removeAccount()">
            <ion-icon color="danger" name="hand" slot="start"></ion-icon>
            <ion-label>
                <p class="parag">remove account</p>
            </ion-label>
        </ion-item>
    </ion-card>
</ion-content>
